<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Calidad.Properties.Settings.proyectoEstebanConnectionString"
            connectionString="Data Source=ESTEBAN\SQLEXPRESS;Initial Catalog=proyecto;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>